<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <app-navbar-administrador></app-navbar-administrador>

    <div class="litle">
      <h2 style="text-align: center">LISTA DE INCIDENTES</h2>
    </div>

    <div class="container">
      <mat-form-field>
        <input
          style="text-align: left"
          matInput
          (keyup)="filter($event)"
          placeholder="buscar"
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- idIncidente Column -->
        <ng-container matColumnDef="idIncidente">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.idIncidente }}
          </td>
        </ng-container>
        <!-- tipoIncidente Column -->
        <ng-container matColumnDef="tipoIncidente">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tipoIncidente }}
          </td>
        </ng-container>

        <!-- descripcion Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripcion</th>
          <td mat-cell *matCellDef="let element">
            {{ element.descripcion }}
          </td>
        </ng-container>

        <!-- usuario Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let element">
            {{ element.usuario.username }}
          </td>
        </ng-container>

        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="botoncito1"
              mat-raised-button
              [routerLink]="['ediciones', element.idIncidente]"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="accion02">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="botoncito2"
              mat-raised-button
              (click)="eliminar(element.idIncidente)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <br />
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </body>
</html>
