body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #11998e, #38ef7d);
  padding: 30px;
  margin-left: 250px;

}

.titulo {
  color: #000000;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px auto;
}

.fecha {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.example-form {
  display: flex;
  flex-direction: column;
  margin: 20px;

}

.mat-form-field {
  margin: 10px 0;
  width: 100%;
  
}

input.mat-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

mat-label {
  font-weight: bold;
}

.seccion._fechas {
  display: flex;
}

.mat-datepicker-toggle {
  cursor: pointer;
}

button.boton_registro {
  background-color: #38ecd4;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button.boton_registro:hover {
  background-color: #080808;
  color: #fff;
}

.btn-container {
  justify-content: center;
  text-align: center;
}

mat-error {
  color: #e74c3c;
}

.botonRegistro {
  background-color: #11998e;
  color: #fff;
}
button{
  margin: 10px;
}
.boton2 {
  background-color: #000000;
  color: aliceblue;
}

/*Responsive y boton lateral..........*/
.toggle-button {
  display: none;
  /* Oculta el botón por defecto */
}

/* Media query para pantallas más pequeñas */
@media only screen and (max-width: 768px) {

  /* Estilos del botón para pantallas pequeñas */
  .toggle-button {
    display: block;
    /* Muestra el botón solo en pantallas pequeñas */
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    /* Color del icono */
    cursor: pointer;
    outline: none;
    z-index: 999;
    /* Ajusta el z-index según sea necesario */
  }

  body {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    /* Agrega una transición para suavizar el cambio */
  }

  /*Nav admin*/
  app-navbar-administrador[hidden] {
    display: none;

  }

  app-navbar-administrador {
    transition: transform 0.3s ease;
    /* Agrega una transición */
  }

  app-navbar-administrador[hidden] {
    transform: translateX(-100%);
    /* Mueve la barra fuera del viewport */
  }

  app-navbar-administrador:not([hidden]) {
    transform: translateX(0);
    /* Restablece la posición */
  }

  /*Nav conductor*/
  app-navbar-conductor[hidden] {
    display: none;

  }

  app-navbar-conductor {
    transition: transform 0.3s ease;
  }

  app-navbar-conductor[hidden] {
    transform: translateX(-100%);
  }

  app-navbar-conductor:not([hidden]) {
    transform: translateX(0);
  }

  /*Nav arrendador*/
  app-navbar-arrendador[hidden] {
    display: none;

  }

  app-navbar-arrendador {
    transition: transform 0.3s ease;
  }

  app-navbar-arrendador[hidden] {
    transform: translateX(-100%);
  }

  app-navbar-arrendador:not([hidden]) {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 768px) {

  /*Nav admin*/
  app-navbar-administrador[hidden] {
    display: contents;
  }

  app-navbar-administrador:not([hidden]) {
    transform: translateX(0);
  }

  /*Nav conductor*/
  app-navbar-conductor[hidden] {
    display: contents;
  }

  app-navbar-conductor:not([hidden]) {
    transform: translateX(0);
  }

  /*Nav arrendador*/
  app-navbar-arrendador[hidden] {
    display: contents;
  }

  app-navbar-arrendador:not([hidden]) {
    transform: translateX(0);
  }
}