/*Estilos del form*/

table {
  background-color: rgb(255, 255, 255);
}

body{
  background: linear-gradient(to right, #11998e, #38ef7d);
  padding: 110px;
  margin-left: 250px;

}
.container {
  width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* Centra horizontalmente */
  margin-top: 50px;
}

h2 {
  color: #333;
  padding-top:30px;
}
