body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #11998e, #38ef7d);
  margin-left: 250px;
  padding: 30px;

}

h2 {
  color: #333;
  margin-top: 100px;

}


table {
  width: 800px;
}
.example-container {
  width: 90%;
  overflow: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* Centra horizontalmente */

  overflow: auto;
}
td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #696969;
}
.botoncito1{
  background-color: #11998e;
  color: #fff;
  border-radius: 8px;
  padding-right: 5px;
}
.botoncito2{
  background-color: #000000;
  color: #fff;
  border-radius: 8px;
  padding-right: 5px;
}

.botoncito1{
  background-color: #11998e;
  color: #fff;
  border-radius: 8px;
  padding-right: 5px;
}
.botoncito2{
  background-color: #000000;
  color: #fff;
  border-radius: 8px;
  padding-right: 5px;
}