/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #11998e, #38ef7d);
    margin-left: 250px;
    height: auto;
    padding: 60px;
}

h2 {
    text-align: center;
}

.estacionamientos-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    justify-content: center;
}

.estacionamiento-card {
    width: 300px;
    height: 400px;
    margin: 10px;
    position: relative;
    border-radius: 13px;
    overflow: hidden;
    /* Para evitar que los bordes redondeados afecten la imagen */
    transition: transform 0.3s;
    /* Agrega transición al efecto hover */
}

.estacionamiento-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    max-width: 100%;
    /* Asegura que la imagen no sea más ancha que su contenedor */
    max-height: 100%;
    /* Asegura que la imagen no sea más alta que su contenedor */
}

.estacionamiento-card:hover {
    transform: scale(1.05);
    /* Ajusta el tamaño en el hover según tus preferencias */
    cursor: pointer;
}


/* Agrega estilos para posicionar el botón en la esquina derecha superior */
.favorite-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(253, 1, 1);
    border-color: gray;
    z-index: 2;

}

.imagen-por-defecto {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: 300px;
    height: 250px;
}

/* Aplica bordes redondeados y ancho del 50% al contenedor de búsqueda */
.search-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.rounded-input {
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    text-align: center;
    border-color: #ededed;
}

.encabezado {
    background-color: white;
}

.mostrar-mapa-button {
    display: inline-flex !important;
    border-radius: 24px !important;
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
    margin: 0px !important;
    padding: 14px 19px !important;
    touch-action: manipulation !important;
    align-items: center !important;
    justify-content: center !important;
    box-shadow: none !important;
    background: rgb(34, 34, 34) !important;
    color: white;
    position: fixed;
    left: 50%;
    bottom: 20px;
}

.mostrar-mapa-button mat-icon {
    margin-left: 8px;
}

.mostrar-mapa-button:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

/*Responsive y boton lateral..........*/
.toggle-button {
    display: none;
    /* Oculta el botón por defecto */
  }
  
  /* Media query para pantallas más pequeñas */
  @media only screen and (max-width: 768px) {
  
    /* Estilos del botón para pantallas pequeñas */
    .toggle-button {
      display: block;
      /* Muestra el botón solo en pantallas pequeñas */
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      font-size: 24px;
      color: #333;
      /* Color del icono */
      cursor: pointer;
      outline: none;
      z-index: 999;
      /* Ajusta el z-index según sea necesario */
    }
  
    body {
      margin-left: 0;
      transition: margin-left 0.3s ease;
      /* Agrega una transición para suavizar el cambio */
    }
  
    /*Nav admin*/
    app-navbar-administrador[hidden] {
      display: none;
  
    }
  
    app-navbar-administrador {
      transition: transform 0.3s ease;
      /* Agrega una transición */
    }
  
    app-navbar-administrador[hidden] {
      transform: translateX(-100%);
      /* Mueve la barra fuera del viewport */
    }
  
    app-navbar-administrador:not([hidden]) {
      transform: translateX(0);
      /* Restablece la posición */
    }
  
    /*Nav conductor*/
    app-navbar-conductor[hidden] {
      display: none;
  
    }
  
    app-navbar-conductor {
      transition: transform 0.3s ease;
    }
  
    app-navbar-conductor[hidden] {
      transform: translateX(-100%);
    }
  
    app-navbar-conductor:not([hidden]) {
      transform: translateX(0);
    }
  
    /*Nav arrendador*/
    app-navbar-arrendador[hidden] {
      display: none;
  
    }
  
    app-navbar-arrendador {
      transition: transform 0.3s ease;
    }
  
    app-navbar-arrendador[hidden] {
      transform: translateX(-100%);
    }
  
    app-navbar-arrendador:not([hidden]) {
      transform: translateX(0);
    }
  }
  
  @media only screen and (min-width: 768px) {
  
    /*Nav admin*/
    app-navbar-administrador[hidden] {
      display: contents;
    }
  
    app-navbar-administrador:not([hidden]) {
      transform: translateX(0);
    }
  
    /*Nav conductor*/
    app-navbar-conductor[hidden] {
      display: contents;
    }
  
    app-navbar-conductor:not([hidden]) {
      transform: translateX(0);
    }
  
    /*Nav arrendador*/
    app-navbar-arrendador[hidden] {
      display: contents;
    }
  
    app-navbar-arrendador:not([hidden]) {
      transform: translateX(0);
    }
  }
