/* Apply display: flex to the form container */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #11998e, #38ef7d);
  margin-left: 260px;
  padding: 50px;
  height: 100vh;
}

.container {
 
  width: 100%;
  margin: 0;
}

.example-form {
  max-width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: auto;
}

.informacion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
}

.secciones {
  margin: 15px;
  height: 500px;
  background-color: rgb(221, 221, 221);
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  margin: 15px auto; /* Centra horizontalmente */
}

.paleta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.example-full-width {
  margin: 0 20px;
  width: 90%;
}

.image-upload {
  max-width: 90%;
  max-height: 90%;
  margin: 0 20px;
}

/* Style the buttons */
.btn-container {
  justify-content: center;
  text-align: center;
}

button {
  margin: 10px;
}

.botonRegistro {
  background-color: #11998e;
  color: #fff;
}
.boton2 {
  background-color: #000000;
  color: aliceblue;
}
/* You might need to adjust specific classes for Angular Material components */
/* For example, the form field color and size */

.mat-form-field {
  width: 100%;
}

.mat-select,
.mat-input-element {
  width: 100%;
}

/* Styles for the buttons */
.mat-raised-button {
  margin: 0 10px;
}

/* Additional styling for the uploaded image */

.image-upload {
  max-width: 90%;
  max-height: 90%;
  margin: 0 20px;
  justify-content: center;
}

/* Additional styling for the uploaded image */
img {
  max-width: 100%;
  max-height: auto;
}

input[type="file"] {
  background-color: rgb(173, 173, 182);
}

/*Responsive y boton lateral..........*/
.toggle-button {
  display: none;
  /* Oculta el botón por defecto */
}

/* Media query para pantallas más pequeñas */
@media only screen and (max-width: 768px) {

  /* Estilos del botón para pantallas pequeñas */
  .toggle-button {
    display: block;
    /* Muestra el botón solo en pantallas pequeñas */
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    /* Color del icono */
    cursor: pointer;
    outline: none;
    z-index: 999;
    /* Ajusta el z-index según sea necesario */
  }

  body {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    /* Agrega una transición para suavizar el cambio */
  }

  /*Nav admin*/
  app-navbar-administrador[hidden] {
    display: none;

  }

  app-navbar-administrador {
    transition: transform 0.3s ease;
    /* Agrega una transición */
  }

  app-navbar-administrador[hidden] {
    transform: translateX(-100%);
    /* Mueve la barra fuera del viewport */
  }

  app-navbar-administrador:not([hidden]) {
    transform: translateX(0);
    /* Restablece la posición */
  }

  /*Nav conductor*/
  app-navbar-conductor[hidden] {
    display: none;

  }

  app-navbar-conductor {
    transition: transform 0.3s ease;
  }

  app-navbar-conductor[hidden] {
    transform: translateX(-100%);
  }

  app-navbar-conductor:not([hidden]) {
    transform: translateX(0);
  }

  /*Nav arrendador*/
  app-navbar-arrendador[hidden] {
    display: none;

  }

  app-navbar-arrendador {
    transition: transform 0.3s ease;
  }

  app-navbar-arrendador[hidden] {
    transform: translateX(-100%);
  }

  app-navbar-arrendador:not([hidden]) {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 768px) {

  /*Nav admin*/
  app-navbar-administrador[hidden] {
    display: contents;
  }

  app-navbar-administrador:not([hidden]) {
    transform: translateX(0);
  }

  /*Nav conductor*/
  app-navbar-conductor[hidden] {
    display: contents;
  }

  app-navbar-conductor:not([hidden]) {
    transform: translateX(0);
  }

  /*Nav arrendador*/
  app-navbar-arrendador[hidden] {
    display: contents;
  }

  app-navbar-arrendador:not([hidden]) {
    transform: translateX(0);
  }
}