/* Apply display: flex to the form container */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #11998e, #38ef7d); 
  height: 101%;
  padding: 20px;
}
.container {
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* Centra horizontalmente */
  margin-top: 50px;
  max-width: 98%;
}

.example-form{
  max-height: 600px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.informacion{
  display: flex;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.secciones {
  margin: 5px;
  width: 70%; /* Expand to full width */
  background-color: rgb(221, 221, 221);
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.paleta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.example-full-width {
  margin: 0 20px;
  width: 90%;
}

.image-upload {
  max-width: 90%;
  max-height: 90%;
  margin: 0 20px;
}

/* Style the buttons */
.btn-container {
  justify-content: center;
  text-align: center;
}
button{
  margin: 10px;
}

/* You might need to adjust specific classes for Angular Material components */
/* For example, the form field color and size */

.mat-form-field {
  width: 100%;
}

.mat-select,
.mat-input-element {
  width: 100%;
}

/* Styles for the buttons */
.mat-raised-button {
  margin: 0 10px;
}

/* Additional styling for the uploaded image */
img {
  max-width: 100%;
  max-height: 50%;
  margin-top: 10px;

}
input[type="file"] {
  background-color: rgb(173, 173, 182);
}

