

h2{
  text-align: center;
}
.container {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* Centra horizontalmente */
  margin-top: 50px;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #11998e, #38ef7d);
  padding: 20px;
  margin-left: 250px;
  height: 100vh;

}
.longitudes{
  display: flex;
}


.container h1 {
  font-size: 24px;
  text-align: center;
  color: #222;
}



.example-full-width {
  width: 100%;
  margin: 2px;
}


mat-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

#map {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  height: 400px;
}


button.boton_registro:hover {
  background-color: #080808;
   color: #fff;
}

.btn-container {
  justify-content: center;
  text-align: center;
  margin: 5px;
}
mat-error {
  color: #e74c3c;
}

.boton_registro{
  background-color: #11998e;
  color: #fff;
  margin-right: 10px;
}
button{
  margin: 10px;
}