<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body *ngIf="verificar()">
    <div class="encabezados" *ngIf="validarRol()">
      <app-navbar-administrador
        *ngIf="role === 'administrador'"
      ></app-navbar-administrador>
      <app-navbar-conductor *ngIf="role === 'conductor'"></app-navbar-conductor>
      <app-navbar-arrendador
        *ngIf="role === 'arrendador'"
      ></app-navbar-arrendador>
    </div>
    <div class="litle">
      <h2 style="text-align: center">LISTA DE ESTACIONAMIENTOS</h2>
    </div>

    <div class="example-container mat-elevation-z8">
      <mat-form-field>
        <input
          style="text-align: left"
          matInput
          (keyup)="filter($event)"
          placeholder="Bucar por.."
        />
      </mat-form-field>
      <br />
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        *ngIf="validarRol()"
      >
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="idEstacionamiento" sticky>
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.idEstacionamiento }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipoEstacionamiento">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tipoEstacionamiento }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="disponibilidad">
          <th mat-header-cell *matHeaderCellDef>Disponibilidad</th>
          <td mat-cell *matCellDef="let element">
            {{ element.disponibilidad }}
          </td>
        </ng-container>

        <ng-container matColumnDef="promedioValoracion">
          <th mat-header-cell *matHeaderCellDef>Promedio-Valoracion</th>
          <td mat-cell *matCellDef="let element">
            {{ element.promedioValoracion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="capacidad">
          <th mat-header-cell *matHeaderCellDef>Capacidad</th>
          <td mat-cell *matCellDef="let element">
            {{ element.capacidad }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fechaRegistro }}
          </td>
        </ng-container>

        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef>Precio</th>
          <td mat-cell *matCellDef="let element">
            {{ element.precio }}
          </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Dueño</th>
          <td mat-cell *matCellDef="let element">
            {{ element.usuario.nombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="localizacion">
          <th mat-header-cell *matHeaderCellDef>Localizacion</th>
          <td mat-cell *matCellDef="let element">
            {{ element.localizacion.direccion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="accion01" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="botoncito1"
              *ngIf="role === 'administrador'"
              mat-raised-button
              [routerLink]="['ediciones', element.idEstacionamiento]"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="accion02" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="botoncito2"
              *ngIf="role === 'administrador'"
              mat-raised-button
              (click)="eliminar(element.idEstacionamiento)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <br />
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </body>
</html>
