/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #11998e, #38ef7d);
  padding: 30px;
  margin-left: 250px;
  height: 100vh;

}

.container {
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Centra horizontalmente */
  max-width: 100%;
  margin: 60px;
}


.example-form {
  max-width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: auto;

}

.formularios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.example-full-width {
  margin: 5px;
  width: 90%;

}

.secciones {
  margin: 15px;
  width: 380px;
  height: 400px;
  background-color: rgb(221, 221, 221);
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 25px;
}

.image-upload {
  max-width: 90%;
  max-height: 90%;
  margin: 0 20px;
}

/* Additional styling for the uploaded image */
img {
  max-width: 40%;
  max-height: 40%;
  margin-top: 10px;

}

input[type="file"] {
  background-color: rgb(173, 173, 182);
}

button.boton_registro:hover {
  background-color: #080808;
  color: #fff;
}

.btn-container {
  justify-content: center;
  text-align: center;
  margin: 5px;
}

mat-error {
  color: #e74c3c;
}

.boton_registro {
  background-color: #11998e;
  color: #fff;
  margin-right: 10px;
}

button {
  margin: 10px;
}