body {
  margin-left: 280px;
  /*Tomar en cuenta esto*/
  background: linear-gradient(to right, #11998e, #38ef7d);
  height: 100vh;
}

/*Estilos de la fuente - Titulos y textos*/
h1 {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding-top: 30px;
}

h2 {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

/*Contenido principal*/


.contenido-principal {
  margin: 0;
  text-align: center;
  height: 100%;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 300px;
  height: auto;
}

.intro {
  text-align: center;
}

.features {
  margin: 20px 0;
}

.feature {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

/*Responsive barra lateral*/