/* Estilos para la sección del formulario genérico */
.form {
  background-color: #f0f0f0;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin:  auto; /* Centrar horizontalmente */
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
}

body{
  background: linear-gradient(to right, #11998e, #38ef7d);
  padding: 30px;
  margin-left: 250px;


}
.generic-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.generic-group input[type="number"] {
  width: 95%;
  padding: 10px;
  border: 2px solid #30e298;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 10px;
}

.generic-group button {
  padding: 10px 20px;
  background-color: #30e298;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.generic-details {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos para los contenedores de información genérica */
.generic-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* Estilos para los títulos y contenido dentro de los contenedores */
.generic-box h1 {
  font-size: 1.2em;
  font-weight: bold;
  color: #11998e;
  margin-bottom: 2px;
}

.generic-box p {
  font-size: 1em;
  color: #000000;
}
