/* Estilos para la sección del formulario genérico */
.form {
    background-color: #f0f0f0;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin:  auto; /* Centrar horizontalmente */
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
  }

body{
    background: linear-gradient(to right, #11998e, #38ef7d);
    padding: 30px;
    margin-left: 250px;
     height: auto;


}
.generic-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.generic-group input[type="number"] {
    width: 95%;
    padding: 10px;
    border: 2px solid #30e298;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
}

.generic-group button {
    padding: 10px 20px;
    background-color: #30e298;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.generic-details {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos para los contenedores de información genérica */
.generic-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* Estilos para los títulos y contenido dentro de los contenedores */
.generic-box h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: #11998e;
    margin-bottom: 2px;
}

.generic-box p {
    font-size: 1em;
    color: #000000;
}

/*Responsive y boton lateral..........*/
.toggle-button {
    display: none;
    /* Oculta el botón por defecto */
  }
  
  /* Media query para pantallas más pequeñas */
  @media only screen and (max-width: 768px) {
  
    /* Estilos del botón para pantallas pequeñas */
    .toggle-button {
      display: block;
      /* Muestra el botón solo en pantallas pequeñas */
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      font-size: 24px;
      color: #333;
      /* Color del icono */
      cursor: pointer;
      outline: none;
      z-index: 999;
      /* Ajusta el z-index según sea necesario */
    }
  
    body {
      margin-left: 0;
      transition: margin-left 0.3s ease;
      /* Agrega una transición para suavizar el cambio */
    }
  
    /*Nav admin*/
    app-navbar-administrador[hidden] {
      display: none;
  
    }
  
    app-navbar-administrador {
      transition: transform 0.3s ease;
      /* Agrega una transición */
    }
  
    app-navbar-administrador[hidden] {
      transform: translateX(-100%);
      /* Mueve la barra fuera del viewport */
    }
  
    app-navbar-administrador:not([hidden]) {
      transform: translateX(0);
      /* Restablece la posición */
    }
  
    /*Nav conductor*/
    app-navbar-conductor[hidden] {
      display: none;
  
    }
  
    app-navbar-conductor {
      transition: transform 0.3s ease;
    }
  
    app-navbar-conductor[hidden] {
      transform: translateX(-100%);
    }
  
    app-navbar-conductor:not([hidden]) {
      transform: translateX(0);
    }
  
    /*Nav arrendador*/
    app-navbar-arrendador[hidden] {
      display: none;
  
    }
  
    app-navbar-arrendador {
      transition: transform 0.3s ease;
    }
  
    app-navbar-arrendador[hidden] {
      transform: translateX(-100%);
    }
  
    app-navbar-arrendador:not([hidden]) {
      transform: translateX(0);
    }
  }
  
  @media only screen and (min-width: 768px) {
  
    /*Nav admin*/
    app-navbar-administrador[hidden] {
      display: contents;
    }
  
    app-navbar-administrador:not([hidden]) {
      transform: translateX(0);
    }
  
    /*Nav conductor*/
    app-navbar-conductor[hidden] {
      display: contents;
    }
  
    app-navbar-conductor:not([hidden]) {
      transform: translateX(0);
    }
  
    /*Nav arrendador*/
    app-navbar-arrendador[hidden] {
      display: contents;
    }
  
    app-navbar-arrendador:not([hidden]) {
      transform: translateX(0);
    }
  }

