/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #11998e, #38ef7d);
  color: #333;
  margin-left: 250px;
  height: 1500px;

}

/* Contenedor principal */
.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

/* Encabezado */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* Mapa */
.map-container {
  width: 97.5%;
  height: 100%;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  margin-left: 45px;
}

.mostrar-mapa-button {
  display: inline-flex !important;
  border-radius: 24px !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  margin: 0px !important;
  padding: 14px 19px !important;
  touch-action: manipulation !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: none !important;
  background: rgb(34, 34, 34) !important;
  color: white;
  position: fixed;
  left: 53%;
  bottom: 20px;
  z-index: 1000; /* Ajusta el valor según sea necesario para que esté por encima del mapa */
}

/* Resto de tus estilos */

.mostrar-mapa-button mat-icon {
  margin-left: 8px;
}

.mostrar-mapa-button:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}
