body {
    margin-left: 280px;
    /*Tomar en cuenta esto*/
    /*background: linear-gradient(to right, #11998e, #38ef7d); */
    background-color: #fff;
}

/*Estilos de la fuente - Titulos y textos*/
h1 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

strong {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* detalle-estacionamiento.component.css */

.detalle-estacionamiento-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

.detalle-estacionamiento-container .titulo {
    padding: 30px;
}

.imagen-container {
    margin-top: 20px;

}

.imagen-estacionamiento {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    object-fit: cover; /*Para evitar distorison*/

}

.boton-regresar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.boton-regresar:hover {
    background-color: #0056b3;
}

/* detalle-estacionamiento.component.css */
/* ... (tus estilos actuales) */
.info-container h2 {
    text-align: left;
}

.info-container .izq-der {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.izq-der {
    margin-bottom: 30px;
}

.info-izquierda {
    width: 60%;
    text-align: left;
}

.info-derecha {
    width: 45%;
    text-align: left;
}

.info-derecha .reserva {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.reserva p {
    display: flex;
    justify-content: space-between;
}

.reserva strong {
    text-align: left;
}

.reserva span {
    text-align: right;
}

.valoracion-container {
    display: flex;
    align-items: center;
}

.mat-icon {
    font-size: 20px;
    color: gold;
    /* O el color que desees para las estrellas */
}

.boton-reserva {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #11998e;
    /* Color verde para el botón de reserva */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

.boton-reserva:hover {
    background-color: black;
    /* Cambia el color al pasar el ratón sobre el botón */
}

.map-container {
    height: 400px;
    /* Ajusta la altura según tus necesidades */
    width: 100%;
}

.anfitrion-info {
    text-align: left;
    padding-bottom: 20px;
}

.texto-descripcion {
    text-align: justify;
}

.horario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mat-form-field {
    width: 100%;
}

.hora-container {
    display: flex;
    gap: 10px;
}

.icono-estrella {
    vertical-align: middle;
    margin-bottom: 5px;
    /* Ajusta según sea necesario */
}

.imagen-por-defecto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contenedor-persona {
    display: flex;
}

.div1 {
    padding: 20px;
    padding-top: 16px;
    border-color: #0056b3;
}

.div2 {
    padding: 20px;
    text-align: left;
    left: 50px;
}

.imagen-usuario {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* Evita la distorsión manteniendo la relación de aspecto */
    border-radius: 50%;
    border: 2px solid #575757;
}

/*Responsive y boton lateral..........*/
.toggle-button {
    display: none;
    /* Oculta el botón por defecto */
  }
  
  /* Media query para pantallas más pequeñas */
  @media only screen and (max-width: 768px) {
  
    /* Estilos del botón para pantallas pequeñas */
    .toggle-button {
      display: block;
      /* Muestra el botón solo en pantallas pequeñas */
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      font-size: 24px;
      color: #333;
      /* Color del icono */
      cursor: pointer;
      outline: none;
      z-index: 999;
      /* Ajusta el z-index según sea necesario */
    }
  
    body {
      margin-left: 0;
      transition: margin-left 0.3s ease;
      /* Agrega una transición para suavizar el cambio */
    }
  
    /*Nav admin*/
    app-navbar-administrador[hidden] {
      display: none;
  
    }
  
    app-navbar-administrador {
      transition: transform 0.3s ease;
      /* Agrega una transición */
    }
  
    app-navbar-administrador[hidden] {
      transform: translateX(-100%);
      /* Mueve la barra fuera del viewport */
    }
  
    app-navbar-administrador:not([hidden]) {
      transform: translateX(0);
      /* Restablece la posición */
    }
  
    /*Nav conductor*/
    app-navbar-conductor[hidden] {
      display: none;
  
    }
  
    app-navbar-conductor {
      transition: transform 0.3s ease;
    }
  
    app-navbar-conductor[hidden] {
      transform: translateX(-100%);
    }
  
    app-navbar-conductor:not([hidden]) {
      transform: translateX(0);
    }
  
    /*Nav arrendador*/
    app-navbar-arrendador[hidden] {
      display: none;
  
    }
  
    app-navbar-arrendador {
      transition: transform 0.3s ease;
    }
  
    app-navbar-arrendador[hidden] {
      transform: translateX(-100%);
    }
  
    app-navbar-arrendador:not([hidden]) {
      transform: translateX(0);
    }
  }
  
  @media only screen and (min-width: 768px) {
  
    /*Nav admin*/
    app-navbar-administrador[hidden] {
      display: contents;
    }
  
    app-navbar-administrador:not([hidden]) {
      transform: translateX(0);
    }
  
    /*Nav conductor*/
    app-navbar-conductor[hidden] {
      display: contents;
    }
  
    app-navbar-conductor:not([hidden]) {
      transform: translateX(0);
    }
  
    /*Nav arrendador*/
    app-navbar-arrendador[hidden] {
      display: contents;
    }
  
    app-navbar-arrendador:not([hidden]) {
      transform: translateX(0);
    }
  }