

.container {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin:  auto;
  margin-top: 100px;
  /* Centra horizontalmente */
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #11998e, #38ef7d);
  padding: 30px;
  margin-left: 250px;

}


h1 {
  color: #333;
  text-align: center;
}

/* Estilos para los campos de formulario */
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

/*Estilos para los botones*/


button.boton_registro:hover {
  background-color: #080808;
   color: #fff;
}

.btn-container {
  justify-content: center;
  text-align: center;
  margin: 5px;
}
mat-error {
  color: #e74c3c;
}

.boton_registro{
  background-color: #11998e;
  color: #fff;
  margin-right: 10px;
}
